


@media (max-width: 1199.98px) { 
    .side_menu{
        max-width: 20%;
    }
    .side_menu img {
        width: 78%;
    }
    .side_menu ul li{
        padding: 1px 0;
    }
    .side_menu ul li a{
        padding: 13px 1rem;
    }
    .side_menu ul li a{
        font-size: 13px;
    }
    .side_menu ul li a img {
        padding-right: 3px;
        width: 20px;
        margin-top: -2px;
    }

    .uslink {
        padding: 10px 17px !important;
        font-size: 14px !important;
    }
    .uslink img {
        width: 19px;
        padding-right: 1px;
    }
    .top-menu .content input {
        font-size: 12px;
        height: 32px;
        max-width: 16rem;
    }
    .top-menu .content form span{
        font-size: 12px;
    }
    .top-menu .content .dropdown .btn.btn-secondary{
       font-size: 10px; 
    }
    .top-menu .content ol .profile h4{
        font-size: 15px;
    }
    .top-menu .content ol .profile h4 span{
        font-size: 9px;
    }
    .dash-content .heading h4{
        font-size: 19px;
    }
    .dash-content .heading ol .dropdown-toggle {
        font-size: 12px;
        height: 30px;
        padding: 0px 14px;
    }
    .dash-content .heading ol input{
        font-size: 12px;
        height: 30px;
    }
    .dash-counting .content .img{
        padding: 2px;
    }
    .dash-counting .content p span{
        font-size: 20px;
    }
    .dash-counting .content p{
        font-size: 12px;
    }
    .booking-list h5 a{
        font-size: 12px;
    }
    table tr th{
        font-size: 9px !important;
    }
    table tr td{
        font-size: 9px !important;
    }
 }
@media (max-width: 991.98px) { 
    .hospital-single .content {
        display: block;
        text-align: center;
    }
    .hospital-single .content button{
        margin: 10px auto;
    }
 }
@media (max-width: 767.98px) { 
    .dash-ad{
        display: none;
    }
    .top-menu .content input{
        max-width: 100%;
    }
    .top-menu .content ol{
        justify-content: center;
    }
    .top-menu .content{
        margin: 8px 0;
    }
    .dash-counting .content{
        margin: 7px 0;
    }
    .side_menu {
        max-width: 10rem;
    }
    .main-content {
        width: 100%;
        padding-left: 9rem;
    }
    .main-content-active{
        padding-left: 0;
    }
    .side_menu{
        left: -25rem;
        opacity: 0;
        z-index: -9;
      }
      .side_menu.menu_active{
        left: 0;
        opacity: 1;
        z-index: 9;
        max-width: 15rem;
    }
    .main-content{
        padding-left: 0;
      }
      .side_menu.menu_active .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000d1;
        z-index: -9;
      }
 }
@media (max-width: 575.98px) { 
    .demo-content .textt h1{
        font-size: 45px;
      }
      .demo-content .textt h2 {
        font-size: 23px;
      }
    .booking-list h5{
        padding: 5px;
    }
    .booking-list table{
        width: 100%;
    }
    .booking-list table tr th,
    .booking-list table tr td{
        width: auto !important;
        font-size: 7px !important;
        padding: 1px;
    }
    .dcontent ul {
        top: -39px;
    }
    .dcontent ul li a{
        font-size: 10px !important;
    }
    .top-menu .content ol li:first-child{
        display: none;
    }
    #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4{
        width: 34px;
    }
    .dash-content .heading ol{
        display: block;
    }
    .dash-content .heading ol li {
        margin: 10px 0;
    }
    .tags li{
        font-size: 8px;
    }
    .dash-content .heading ol {
        display: none;
      }
      .connect-box button{
        font-size: 8px;
        padding: 10px 15px;
      } 
      .booking-list{
        padding: 0;
      }
      .dash-content .heading h4, .booking-list h5 {
        font-size: 14px;
      }
 } 


@media(max-width: 991.98px){
    .preview-ads{
        column-count: 2 ;
    }
}
@media(max-width: 767.98px){
    .preview-ads{
        column-count: 1 ;
    }
}



/*
@media (max-width: 1199.98px) {  }
@media (max-width: 991.98px) {  }
@media (max-width: 767.98px) {  }
@media (max-width: 575.98px) {  } 

*/